<div class="about">
    <div class="about__return">
        <a class="about__nav hover_link" href="{{page.next.url | prepend: site.baseurl}}">
	    {% if page.next.url %}
	        &laquo; {{page.next.title}}
	    {% endif %}
	</a>
	<a class="hover_link" href="{{ '/' | prepend: site.baseurl }}">
            <span>Home</span>
	</a>
	<a class="next about__nav hover_link" href="{{page.previous.url | prepend: site.baseurl}}">
	    <span>
                {% if page.previous.url %}
	            {{page.previous.title}} &raquo;
    	        {% endif %}
	    </span>
	</a>
    </div>
    <div class="about__devider">******</div>
    <div class="about__text">
        Written by <strong> {% if page.author.fullname %} {{ page.author.fullname }} {% else %} {{ site.author.fullname }} {% endif %}</strong>
        on <strong>{{ page.date | date: "%d %B %Y" }}</strong>
    </div>
</div>
