---
layout: default
---
{% include post/title.html %}

<div class="content">
    {{ content }}
	{% assign psize = page.tags | size %}
	{% if psize != 0 %} 
	<div class="navwrap">
	    <nav class="navbar" id="nav">
	        <ul>
	    	    <li><a href="#history">History</a></li>
	    	    <li><a href="#overview">Overview</a></li>
	    	    <li><a href="#algorithm">Algorithm</a></li>
	    	    <li><a href="#example">Example</a></li>
	        </ul>
	    </nav>
	</div>
	<div id="{{ '/' | prepend: site.baseurl }}"></div>
	{% endif %}
</div>


{% include post/about.html %}
